@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cm-editor {
  height: 100% !important;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.cm-editor.cm-focused {
  outline: none !important;
}

.dark .cm-editor {
  background-color: #1a1a1a;
}

.cm-line {
  padding: 0 1rem !important;
}

.cm-gutters {
  border-right: 1px solid #e5e7eb !important;
}

.dark .cm-gutters {
  border-right-color: #374151 !important;
  background-color: #1a1a1a !important;
}